.header-container {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.app-logo {
  height: 30px;
  width: 142px;
}
.search-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 38%;
}
.search-icon {
  position: absolute;
  right: 0;
  top:12px;
  padding-right: 10px;
}
.search-city-input {
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.3);
  padding-left: 10px;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  outline: none;
  font-family: Roboto Regular;
}
::placeholder {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 19px;
  opacity: 0.8;
  font-family: Roboto Regular;
}
.cities-div-web {
  position: absolute;
  width: 95%;
  /* border: 1px solid white; */
  border-radius: 7px;
  text-align: center;
  top: 50px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  animation: search 0.5s ease forwards;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.cities-div-web p {
  width: 100%;
  margin: 0px auto;
  font-size: 1.4rem;
  padding: 5px;
  box-sizing: border-box;
}
.cities-div-web p:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 7px;
}
