<div class="header-container">
    <img src="../../assets/images/logo_web.png" alt="AppLogo" class="app-logo">
    <div class="search-container">
        <input class="search-city-input" type="text" placeholder="Search City" type="text" name="text" [(ngModel)]="text" (ngModelChange)="handleChange($event)">
        <img src="../../assets/images/icon_search_white.png" alt="search-icon" class="search-icon">
        <div class="cities-div-web" >
            <p *ngFor="let city of cityResults" (click)="handleCityClick(city.name)">{{city.name}}</p>
        </div>
    </div>
</div>